<nav class="navbar navbar-light bg-light navbar-expand">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/appointment">Пациенту</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/login">Администратору</a>
		</li>
	</ul>
</nav>
